<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.itbbs.resource.mapper.ResourceMapper">

    <resultMap type="Resource" id="ResourceResult">
            <result property="resourceId"    column="resource_id"    />
            <result property="resourceName"    column="resource_name"    />
            <result property="type"    column="type"    />
            <result property="category"    column="category"    />
            <result property="description"    column="description"    />
            <result property="fileCount"    column="file_count"    />
            <result property="userId"    column="user_id"    />
            <result property="point"    column="point"    />
            <result property="downloadCount"    column="download_count"    />
            <result property="startTime"    column="start_time"    />
            <result property="endTime"    column="end_time"    />
            <result property="createTime"    column="create_time"    />
            <result property="updateTime"    column="update_time"    />
            <result property="status"    column="status"    />
            <result property="ver"    column="ver"    />
    </resultMap>

    <sql id="selectResourceVo">
        select resource_id, resource_name, type, category, description, file_count, user_id, point, download_count, start_time, end_time, create_time, update_time, status, ver from tb_resource
    </sql>

    <select id="selectResourceList" resultMap="ResourceResult">
        <include refid="selectResourceVo" />
    </select>


</mapper>
