mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.abc.itbbs.**.domain.entity
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1
      logic-not-delete-value: 0
  configuration:
    map-underscore-to-camel-case: true