<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.itbbs.blog.mapper.CollectRecordMapper">

    <resultMap type="CollectRecord" id="CollectRecordResult">
            <result property="collectRecordId"    column="collect_record_id"    />
            <result property="type"    column="type"    />
            <result property="targetId"    column="target_id"    />
            <result property="userId"    column="user_id"    />
            <result property="createTime"    column="create_time"    />
            <result property="updateTime"    column="update_time"    />
            <result property="status"    column="status"    />
            <result property="ver"    column="ver"    />
    </resultMap>

    <sql id="selectCollectRecordVo">
        select collect_record_id, type, target_id, user_id, create_time, update_time, status, ver from tb_collect_record
    </sql>

    <select id="selectCollectRecordList" resultMap="CollectRecordResult">
        <include refid="selectCollectRecordVo" />
    </select>


</mapper>
